body {
    font-family: gotham;
  }
  
  #container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #title {
    font-size: 2rem;
  }
  
  #description {
    font-size: 1.5rem;
  }
  
  .legend-rect {
    stroke: black;
  }
  
  #tooltip {
    position: absolute;
    z-index: 9999;
    color: white;
    height: auto;
    width: auto;
    background-color: grey;
    white-space: pre;
    line-height: 1.5;
    padding: 5px;
    border: 1px solid black;
    box-shadow: 1px 1px 10px;
    text-align: center;
  }